@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');

@import "./tech";
@import "./header";
@import "./widgets";
@import "./planetInfo";
@import "./statistics";
@import "./parade";
@import "./fakeSelect";


html {
    scroll-behavior: smooth;
  }
  
  *, 
  *::before, 
  *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body {
    background-color: var(--bg-color);
    background-image: url("/assets/images/other_img/stars.png");
    background-repeat: repeat;
}

body.lock {
  overflow: hidden;
}

.container {
    width: clamp(335px, 100vw, 1440px);
    margin: 0 auto;
    padding: 0 20px;
    
    &_hidden {
      overflow: hidden;
    }
}

.main {
    display: flex;
    flex-direction: column;
    gap: clamp(77.5px, 6.25vw, 180px);
}

.content {
  overflow: visible;
}


